*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 80px;
    color: black;
    margin-left: 20px;
    padding-top: 5px;
}
.navbuttons{
    color: black;
    padding: 0 30px;
    font-size: 25px;
    
}
.adopt{
    background-color: #4BD8EB;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.dogs_img{
    height: 800px;
    width: 600px;
    margin-left: 40px;
}
.adopt_heading{
    font-weight: 500;
    font-size: 75px;
    color: #A062D0;
}
.home_buttons{
    background-color: #64E8B0;
    border-style: none;
    padding: 20px 40px;
    margin-top: 60px;
    font-size: 25px;
    
}
.main{
    display: flex;
}
.right_side_main{
    margin-top: 120px;
    margin-left: 70px;
    text-align: center;
}
.button{
     margin-left: 20px;
     background-color: white;
     border: 5px solid #64E8B0;
     padding: 15px 35px;
}